  <div class="m-3 ml-3  ">  
    <span><a href="<%= root_path %>", class="text-secondary"></span>
      <i class="fa fa-instagram fa-lg font" aria-hidden="true">
      Imagenate
      </i> 
    </a>
  </div>
