<div class="container-1">
  
  <div class="left-box">
  </div>
  
  <div class="feed">
    <div class="allpost">
       <% @posts.each do |post|%>
          <% if current_user.followed?(post.user.id)%>
            <%= render partial: 'layouts/postcard', locals: {post: post}%>   
          <%end%>   
        <%end%>
    </div>
  </div>
  
  <div class="interaction">
    User Interactions
  </div>
  
  <div class="right-box">
  </div>

</div>



 