<div class="container-1">
  
  <div class="left-box">
  </div>
  
  <div class="feed">
    <div class="allpost">
       <% @posts.each do |post|%>
          <% if current_user.followed?(post.user.id)%>
            <%= render partial: 'layouts/postcard', locals: {post: post}%>   
          <%end%>   
        <%end%>
    </div>
  </div>
  
  <div class="interaction">
     <strong> All Users </strong> <br>
      <%@users.each do |user|%>  
        <% if user.id != current_user.id %> 
          <%=link_to "#{user.profile.username}", profile_path(user.profile.id)%>
          <% if current_user.followed?(user.id) %>
            <%= button_to "Unfollow", relationship_path(user_id: user.id), :method => :post%>
          <%else%>
            <%= button_to "Follow", relationships_path(user_id: user.id), :method => :post%>
          <%end%>
        <%end%> 
          <br>  
      <%end%>
    User Interactions
  </div>
  
  <div class="right-box">
  </div>

</div>



 