<div class="row login_row">
  
  <div class="col-md-3">

  </div>
  
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-8 login_image">
        <%= render 'shared/image'%>
      </div>
      <div class="col-md-4">    
        <%= render 'login' %>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    
  </div> 

</div>
  
    
