/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */


@import "bootstrap";
@import "font-awesome";


.search-field{
  padding-top: 10px;
}

.container{
  max-width: 1000px;
  min-height: 100vh;
}

.navbar{
  border-bottom: 1px solid rgba(0,0,0,.0975);
  height: 5em;
}

.navbar-brand{
  padding: 1.5em;
}

.navbar-brand{
  padding: 1.5em;
}

.font {
  color: #000000d4;
  font-size: 25px;
}

.sizer {
  margin-right: 300px;
  margin-left: 300px ;
}

.search-form{

  input{
    font-size: 13px;
    text-align: center;
  }
}

.search-box{
  flex-flow: row;
  padding: 0em;
  }

.footer{
  font-size: 12px;
  padding-top: 30px;
  ul{
    padding-left: 0;
    > li{
      display: inline;
      padding-right: 15px;
      color: #000000d4;
    }
  }
  p{
    color: #999;
  }
}

.size{
  height: 100px;
  width: 300px;
  background-color: powderblue;
}

.login_row{
  margin-top: 100px;
}

.login_image{
 font-size: 100px;
}

.login-div{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  width: 430px;
  height: 700px;
  padding: 60px 35px 35px 35px;
  margin-top: 70px ;
  border-radius: 10px;
  background: radial-gradient(circle, #e6e1e1, #dbdbdb, #dbd9d9, #dbd9d9, #dbd9d9)
}

.fields{
  width: 100%;
  padding: 100px 5px 30px 5px;
}

.fields input{
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  color: black;
  padding: 10px 10px 10px 5px;
}

.pass-input{
  display: block;
  border-bottom: 1px solid #b3b3b3;
  margin-bottom: 30px;
}

.user-input{
  // display: block;
  border-bottom: 1px solid #b3b3b3;
  margin-bottom: 30px;
}

.signin-button{
  outline: none;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 60px;
  border-radius: 5px;
  font-size: 22px;
  font-family: 'Lato' sans-serif;
  color: black;
  text-align: center;
  letter-spacing: radial-gradient(circle, #24cfaa, #26c5a3, #28bb9c, #29b294, #2aa88d);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.signin-button.hover{
  background: radial-gradient(circle, #2fdbb6, #32d6b3, #32c9a8, #36c7a7, #38bb9f);
}

.signin-button.hover{
  background: radial-gradient(circle, #2fdbb6, #32d6b3, #32c9a8, #36c7a7, #38bb9f);
}

.link{
  padding-top: 10px;
  font-size: 18px;
  font-family: 'Lato' sans-serif;
  color: black;
  text-align: center;
}

#image-1{
  max-width: 100%;
  height: auto;
}

.nav-container{
  height: 2em;
}

.bgcol{
  background: rgb(247, 247, 244);
}
//index 
.container-1{
  display: flex;
  justify-content: space-between;
}

.left-box{
  flex: 3;
}

.feed{
  flex: 4;
}

.interaction{
  flex: 2;
  border: 1px solid #b3b3b3;
  margin: 3em;
  align-self: baseline;
  flex-wrap: column nowrap;
}

.user-profile{
  padding: 1em;
  text-align: center;
  flex-direction: row;
  flex-wrap: nowrap;
}


.uname{
  flex: 4;
}

.quick-access{
  padding: 1em;
  text-align: left;
  flex-direction: column;
}



.suggested{
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.uname{
  flex:2;
  justify-content: flex-start;
  
}

.follow{
  flex: 1;
  justify-content: flex-end;
}

.right-box{
  flex:2;
}
//feed class
.allpost{
  display: flex;
  flex-direction: column;
  margin-top: 2.9em;
}

.fence{

  padding: 15px;
}

.postcard{
  display: flex;
  border: 2px solid rgb(207, 205, 205);
  flex-direction: column;
  justify-content: space-around;
  padding: 1em;
}

.title{
  flex: 2;
  display: flex;
  justify-content: flex-start;
}

.post{
  flex: 8;
  display: flex;
  justify-content: center;
}

.interact{
  display: flex;
  flex: 2;
  padding: 1em;
  justify-content: flex-start;



}
.button1{
  padding: 1em;
}
.button2{
  padding: 1em;
  align-self: flex-end;
}

.button3{
  padding: 1em;
  align-self: flex-end;
}
.dp{
    flex: 1;
    width: 2em;
    height: 2em;
    background: white;
    border: 2px solid black;
}

.username{
  margin-left: 1em;
  flex: 15;
}

.display{
  flex: 10;
  display: flex;
  flex-direction: row;
  padding: 1em;
  justify-content: flex-start;
}

//navbar

.d-flex{
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  height: 7em;
  align-items: center;
}

.main-nav{
  flex: 6;
  display: flex;
}

.left{
  flex: 2.5;
}


.right{
  flex: 2;
}

.logo{
  flex: 2;
  justify-content: center;
  color: #000000d4;
}

.search-bar{
  flex: 4;
  justify-content: center;
  align-items: center;
  display: flex;
}
  
.user-section{

  display: flex;
  height: 2em;
  flex: 2;
  justify-items: flex-end;
  a{
    flex: 1;
    margin-left: 1em;
  }
  i.fa{
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    color: #000000d4;
  }
}


//image styles

.img-size{
    max-width: 100%;
    max-height: 100%;
}

.showpage{
  display: flex;
  flex-direction: row;
}

.photo{
  flex: 4;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  max-height: 100vh;
}

.photo img {
  margin: 10px;
  border: 3px solid #000;
  box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3); 
  max-width: 23vw;
}

.description{
  flex: 1;
}



.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    max-height: 100vh;
  }

.cards img {
  margin: 10px;
  border: 3px solid #000;
  box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3); 
  max-width: 23vw;
}