<div class="row">
  <div class="col-sm-9">
  <%= form_with(model: [post, post.comments.build] ,placeholder: "Add Comments", local: true) do |form| %>
    <%= form.text_field :body, class:"com-box", :id => "comment-box#{post.id}", placeholder: " Add Comments" %><br>
  </div>
  <div class="col-sm-3 ">
    <%= form.submit 'Comment', class: 'btn btn-small comment' %> <br>
  <% end %>
  </div>
</div>