<div class="mb-3">
  <div class="card-body text-secondary">
    <nav class="navbar d-flex card-text text-muted list-style-type:circle">
      <small>    
        <span>ABOUT US</span>  
        <span>SUPPORT</span> 
        <span>PRESS</span>
        <span>API</span>
        <span>JOBS</span>
        <span>PRIVACY</span>
        <span>TERMS</span>
        <span>DIRECTORY</span>
        <span>PROFILES</span>
        <span>HASHTAGS</span>
        <span>LANGUAGE</span>
        <p> © 2020 IMAGENATE  </p>
      </small>
    </nav>
  </div>
</div>

<!--footer class="container footer">
      <nav class="navbar d-flex">

          ABOUT US
          SUPPORT 
          PRESS
          API
          JOBS
          PRIVACY
          TERMS
          DIRECTORY
          PROFILES
          HASHTAGS
          LANGUAGE
        <p> © 2018 INSTAGRAM </p>
      </nav>
    </footer--> 