 <!--Navigation Bar-->
  

 <nav class = "navbar navbar-light bg-light d-flex">
  <div class = "container ">
    <div class = "logo">
      <a class= "navbar-brand" href="<%= root_path %>"> 
        <i class="fa fa-instagram font" aria-hidden="true">
           |   Imagenate
        </i></a>
    </div>
    <div class="user-section user">
      <a><i class="fa fa-compass"></i></a>
      <a><i class="fa fa-heart"></i></a>
      <% if user_signed_in? %>
        <a href = "<%#=users_show_path(current_user)%>">
          <i  class="fa fa-user" ></i>
        </a>
      <%else%>
        <a href="<%= new_user_session_path%>">
          <i class="fa fa-sign-in"> </i>
        </a>
      <%end%>
    </div>
    <div class="m-auto sizer">
      <form class="form-inline search-form navbar navbar-expand-sm bg-light justify-content-center search-field">
        <input class="form-control search-bar" type="search" placeholder="@search" aria-label="Search">
      </form>
    </div>
  </div>
</nav>
