<div class="navbar navbar-light bg-light d-flex"> 
  <div class="left">
  </div>
  <div class="main-nav">
    <div class="logo">
      <%= render 'shared/logo' %>
    </div>
    <div class="search-bar">
        <form class="search-box navbar-brand form-inline search navbar-expand-sm bg-light justify-content-center search-field">
          <input class="form-control search-bar" type="search" placeholder="@search" aria-label="Search">
        </form>
    </div>
    <div class="user-section">
        <a><i class="fa fa-compass"></i></a>
        <a><i class="fa fa-heart"></i></a>
        <a href="<%= profile_path(current_user)%>"><i class="fa fa-user"></i> </a>
    </div>
  </div>
  <div class="right">
  </div>
</div>

<!--
<nav class = "navbar navbar-light bg-light d-flex">
  <div class="nav-container">
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-3">
              <%= render 'shared/logo' %>
          </div>
          <div class="col-md-6">
              <form class="search-box navbar-brand form-inline search navbar-expand-sm bg-light justify-content-center search-field">
                <input class="form-control search-bar" type="search" placeholder="@search" aria-label="Search">
              </form>
          </div>
          <div class="col-md-3">
            <div class="user-section user">
              <a><i class="fa fa-compass"></i></a>
              <a><i class="fa fa-heart"></i></a>
              <a href="<%= profile_path(current_user)%>"><i class="fa fa-user"></i> </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
      </div>
    </div>
  </div>
</nav>
-->