 
  
      
     
 <div class="card postsize">
  <div class="card-header">
    <%=post.user&.profile&.username || 'Default Username'%>
  </div>
  <div class="card-body">
    <% post.images.each do |img|%>
      <%= link_to image_tag(img.image.url(:thumb), class: 'media-object'), img.image.url(:thumb), target: '_blank' %>
    <%end%>
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">Updated At</p>
    <p class="card-text">Caption</p>
    <a href="#" class="btn btn-primary">Like</a>
    <a href="#" class="btn btn-primary">See Full Post</a>
     <%= link_to 'Destroy',{action: :destroy, id: post.id }, method: :delete, :class => "btn btn-primary", data: { confirm: 'Are you sure?' } %>
  </div>
</div>
<div class="fence">
</div>

